<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Phoenix Framework</title>
  <link rel="stylesheet" href="<%= routes().static_path(@conn, "/assets/app.css") %>"/>
  <script defer type="text/javascript" src="<%= routes().static_path(@conn, "/assets/app.js") %>"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-md">
    <%= link "Dashboard", to: routes().dashboard_page_path(@conn, :index), class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <%= for plugin <- dashboard_plugins_menu() do %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= plugin.title %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= for link <- plugin.links do %>
                <%= if can_path?(@conn, link.path, method: link.method) do %>
                  <li>
                    <%= if link.method == :get do %>
                      <%= link link.title, to: link.path, class: "dropdown-item" %>
                    <% else %>
                      <%= link link.title, to: link.path, method: link.method, class: "dropdown-item" %>
                    <% end %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            My Account
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= for link <- account_links() do %>
              <%= if can_path?(@conn, link.path, method: link.method) do %>
                <li>
                  <%= if link.method == :get do %>
                    <%= link link.title, to: link.path, class: "dropdown-item" %>
                  <% else %>
                    <%= link link.title, to: link.path, method: link.method, class: "dropdown-item" %>
                  <% end %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<main role="main" class="container">
  <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
  <%= @inner_content %>
</main>
</body>
</html>
